body {
    display: flex;
    flex-direction: column;
}

/*
START FIRST SECTION
*/

.firstsection {
    background-color: #1F2937;
    width: auto;
    height: 400px;
    display: flex;
}

.title {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8
}

p , .links , a {
    font-size: 18px;
    color: #E5E7EB;
}

.headerlogo {
    font-size: 24px;
    color: #F9FAF8;
}

button {
    color: #3882F6
}

/*
FINAL FIRST SECTION
*/

/*
START SECOND SECTION
*/

.secondsection {
    background-color: white;
    width: auto;
    height: 250px;
    display: flex;
}

/*
FINAL SECOND SECTION
*/

/*
START THIRD SECTION
*/

.thirdsection {
    background-color: #E5E7EB;
    width: auto;
    height: 250px;
    display: flex;
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1F2937
}

/*
FINAL THIRD SECTION
*/

/*
START FORTH SECTION
*/

.forthsection {
    background-color: white;
    width: auto;
    height: 250px;
    display: flex;
}

.container {
    width: 500px;
    height: 100px;
    background-color: #3882F6;
    display: flex;
}

/*
FINAL FORTH SECTION
*/

/*
START FIFTH SECTION (FOOTER)
*/

.footer {
    background-color: #1F2937;
    width: auto;
    height: 60px;
}

/*
FINAL FIFTH SECTION
*/